body{
    text-transform: capitalize;
}

nav{
    display: flex;
     background-color: black;
    color: white;
    padding: 20px 70px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
}
#navbar1{
    display: flex;
}
#logo{
    border-radius: 47%;
    margin-right: 10px;
    margin: auto;
    margin-top: 20px;

}
#navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 400px;
    

}
#navbar li{
    margin-top: 20px;
    list-style: none;
    padding: 0 20px;
    position: relative;
   
}
#navbar li a{
    text-decoration: none;
    font-size:1.3rem ;
    font-weight: 600;
    color: #fff;
    animation: 0.3s ease-in-out;
}
#navbar li a:hover{
    color: coral;
}
#navbar li a:hover::after,
#navbar li a.active::after{
    content:"";
    width:30% ;
    height: 2px;
    background-color: coral;
    position: absolute;
    bottom: -2px;
    left: 20px;
}
#mobile i{
    color: #fff;
}
#mobile{
    display: none;
}
@media screen and (max-width:769px){
    #navbar{
        justify-content: flex-start;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        position: fixed;
        top: 90px;
        right: -300px;
        width: 300px;
        height: 100vh;
        background-color: black;
        box-shadow: 0 40px 60px rgba(0,0,0,0.1);
        padding: 40px 0 0 10px;
        transition: 0.3s ease-in-out;

    }
    #navbar.active{
        right: 0px;
    }
    #navbar li{
        margin-bottom: 25px;
    }
    #mobile{
        padding-left: 200px;
        padding-top: 30px;
        display: block;
    }
    #mobile i{
        font-size: 25px;
    }
    *{
        margin:0;
        padding: 0;
        box-sizing: border-box;
      }
   

}
